Ζητούμενα: Να γράψετε κώδικα στη γλώσσα προγραμματισμού python ο οποίος:
[✓]  Εμφανίζει λίστα με όλα τα ονόματα αρχείων pgn που εντοπίζονται σε έναν φάκελο και επιτρέπει στον χρήστη
     να επιλέξει ένα από αυτά.
[✓]  Διαβάζει τα περιεχόμενα του επιλεγμένου αρχείου και εμφανίζει στοιχεία που αφορούν τον αγώνα,
     όπως ποιοι ήταν οι παίκτες, πότε και που έγινε ο αγώνας, ποιο ήταν το αποτέλεσμα, ποιο ήταν το πλήθος των κινήσεων
     και άλλα.
[✓]  Σχεδιάζει το ταμπλό του σκακιού και τοποθετεί σε αυτό τα πιόνια στην αρχική τους θέση.
     Για τον σχεδιασμό του ταμπλό χρησιμοποιήστε προγραμματισμό γραφικής διεπαφής χρήστη (GUI=Graphical User Interface)
     κατά προτίμηση με το tkinter.
[✓]  Επιτρέπει στο χρήστη μέσω της διεπαφής του ταμπλό, πατώντας κατάλληλα πλήκτρα να κινείται εμπρός και πίσω
     στην αλληλουχία των κινήσεων του παιχνιδιού έτσι ώστε να μπορεί να παρακολουθεί την εξέλιξη του αγώνα από την αρχή
     μέχρι την ολοκλήρωσή του.
[✓]  Μπορείτε να επεκτείνετε τον κώδικά σας με οποιοδήποτε τρόπο θεωρείτε ότι καθιστά την εφαρμογή σας πληρέστερη.

[✓]  Παρατήρηση: Βιβλιοθήκες όπως η pythonchess, που εξειδικεύονται σε προβλήματα σκακιού, μπορούν να χρησιμοποιηθούν
     μόνο για επαλήθευση της ορθότητας του κώδικά σας καθώς και για συγκρίσεις και όχι ως βασικός μηχανισμός μέσω του
     οποίου θα επιτυγχάνεται η απάντηση των ερωτημάτων της εργασίας.

Παραδοτέα:
Παραδίδετε ένα αρχείο zip που περιέχει:
1. Τον κώδικά σας.
2. Οδηγίες εγκατάστασης και χρήσης της εφαρμογής σας.
3. Έκθεση (5-10 σελίδων pdf) που θα εξηγεί: τί κάνατε, πώς το κάνατε, πώς μοιράσατε τη δουλειά, ποια ήταν τα
   αποτελέσματα. Βάλτε screenshots από την εκτέλεση της εφαρμογής σας (όχι screenshots του κώδικα!!!)
4. Επιπλέον, κάθε φοιτητής ξεχωριστά θα πρέπει να γράψει μια ατομική έκθεση 1-2 σελίδων pdf που θα εξηγεί τί ακριβώς
   έκανε ο ίδιος, πόσες ώρες δούλεψε και κατάλογο με βιβλιογραφία
   (τί μελέτησε, από ποιες πηγές, ακόμα και αν αυτές δεν είναι βιβλία, αλλά ιστοσελίδες ή video).
   Μην ξεχάσετε να βάλετε το όνομά σας στο αρχείο.
5. Αρχείο pdf με τις διαφάνειες της παρουσίασής σας.
6. Προαιρετικά, μπορείτε να φτιάξετε video της παρουσίασή σας στο youtube και να αναρτήσετε τον κώδικά σας στο github.
   Σε αυτήν την περίπτωση βάλτε τα links στο κείμενο της έκθεσής σας.